---
import { MdxComponents } from "@/components/content/mdx-components";
import FeaturedPostLayout from "@/layouts/featured-post.astro";
import { getCollection, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const guides = await getCollection("guides");
  return guides.map((guide) => ({
    params: { slug: guide.slug },
    props: guide,
  }));
}

type Props = CollectionEntry<"guides">;

const guide = Astro.props;
const slug = Astro.params.slug;
const { Content } = await guide.render();

if (!slug || !guide) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}
---

<FeaturedPostLayout {...guide}>
  <!-- Avvolgi il contenuto con data-pagefind-filter="type:blog" -->
  <div data-pagefind-filter="type:Guide">
    <!-- E metti data-pagefind-body sul "contenuto" del post, -->
    <!-- così Pagefind indicizza tutto il testo dentro <Content /> -->
    <div data-pagefind-body>
      <Content components={MdxComponents} />
    </div>
  </div>
</FeaturedPostLayout>
