---
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout title="Tools">
    <section class="relative z-20 max-w-6xl mx-auto my-12 px-7 lg:px-0">
        <div>
            <h1 class="inline-block font-heading text-4xl pb-2">
                Calcolatore Function Points
            </h1>
            <p class="text-muted-foreground">
                Calcola Function Points da specifiche funzionali (ARU).
            </p>
        </div>
        <hr class="my-4" />
        <iframe
            src="https://test-aru.streamlit.app?embed=true"
            style="height: 600px; width: 100%;"
            frameborder="0"
        ></iframe>
    </section>
</MainLayout>
