---

---

<div class="relative py-32">
    <div aria-hidden="true" class="absolute inset-0 h-max w-full m-auto grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-[#006fb1] to-[#2f8a81]"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-[#3d4f96] to-[#006fb1]"></div>
    </div>
    <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
        <div class="relative">
            <div class="mt-6 m-auto space-y-6 md:w-8/12 lg:w-7/12">
                <h1 class="text-center text-4xl font-bold text-gray-800 dark:text-white md:text-5xl">
                    Accedi alla Knowledge Base
                </h1>
                <p class="text-center text-xl text-gray-600 dark:text-gray-300">
                    Scopri manuali, guide e documentazione utili per la tua attività, tutto in un unico luogo.
                </p>
                <div class="flex flex-wrap justify-center gap-6">
                    <a
                        href="/docs"
                        class="relative flex h-12 w-full items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                        <span class="relative text-base font-semibold text-white dark:text-dark">
                            Vai alla Knowledge Base
                        </span>
                    </a>
                    <!-- <a
                        href="/about"
                        class="relative flex h-12 w-full items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
                    >
                        <span
                            class="relative text-base font-semibold text-primary dark:text-white"
                        >
                            Scopri di più
                        </span>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</div>
