---
import { Button } from "@/components/ui/button";
import { features } from "@/config/landing";
import { Icon } from "astro-icon/components";
import HeaderSection from "./header-section.astro";
---

<section>
  <div class="pb-6 pt-28">
    <div class="container max-w-6xl">
      <HeaderSection
        label="Funzionalità"
        title="Scopri tutte le funzionalità."
        subtitle="Esplora i vantaggi e le caratteristiche principali della nostra knowledge base aziendale."
      />

      <div class="mt-12 grid gap-3 sm:grid-cols-2 lg:grid-cols-3">
        {
          features.map((feature) => (
            <div class="group relative overflow-hidden rounded-2xl border bg-background p-5 md:p-8">
              {/* Background sfumato */}
              <div
                aria-hidden="true"
                class="absolute inset-0 aspect-video -translate-y-1/2 rounded-full border bg-gradient-to-br from-blue-300 to-blue-100 opacity-25 blur-[106px] duration-300 group-hover:-translate-y-1/4 dark:from-cyan-500 dark:to-teal-400 dark:opacity-5 dark:group-hover:opacity-10"
              />
              
              <div class="relative">
                {/* Titolo della feature */}
                <h3 class="text-lg font-bold mb-4">{feature.title}</h3>

                {/* Descrizione della feature */}
                <p class="mt-4 pb-6 text-muted-foreground">
                  {feature.description}
                </p>

                {/* Pulsante per il link */}
                <div class="-mb-5 flex gap-3 border-t border-muted py-4 md:-mb-7">
                  <Button
                    variant="secondary"
                    size="sm"
                    rounded="xl"
                    className="px-4"
                  >
                    <a href={feature.link || "#"} class="flex items-center">
                      <span>Vai</span>
                    </a>
                  </Button>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
