---
import { cn } from "@/lib/utils";
import { buttonVariants } from "@/components/ui/button";
import { Icon } from "astro-icon/components";
import { siteConfig } from "@/config/site";
---

<section class="relative space-y-6 py-12 sm:py-20 lg:py-20 overflow-hidden">
  <!-- Gradient Background -->
  <div
    aria-hidden="true"
    class="absolute inset-0 -z-10 grid grid-cols-2 -space-x-52 opacity-40"
  >
    <div
      class="blur-[106px] h-56 bg-gradient-to-br from-[#006fb1] to-[#2f8a81]"
    >
    </div>
    <div class="blur-[106px] h-32 bg-gradient-to-r from-[#3d4f96] to-[#006fb1]">
    </div>
  </div>
  <div class="container flex max-w-5xl flex-col items-center gap-5 text-center">
    <a
      href="https://www.terna.it"
      class={cn(
        buttonVariants({ variant: "outline", size: "sm", rounded: "full" }),
        "px-4",
      )}
      target="_blank"
    >
      <span class="mr-3">📢</span> Vai al Sito Terna{" "}
      <Icon name="twitter" class="ml-2 size-3.5" />
    </a>

    <h1
      class="text-balance font-heading text-4xl sm:text-5xl md:text-6xl lg:text-[66px]"
    >
      Esplora il{" "}
      <span class="text-gradient_indigo-purple font-extrabold">
        Knowledge Hub
      </span>
      SST
    </h1>

    <p
      class="w-full text-balance leading-normal text-muted-foreground py-4 sm:text-xl sm:leading-8"
    >
      Accedi a risorse, documentazione, materiali formativi e strumenti utili.
    </p>
    Tutto in un unico posto.
  </div>

  <div class="flex justify-center space-x-2 md:space-x-4">
    <a
      href="/landing"
      class={cn(
        buttonVariants({ size: "lg", rounded: "full" }),
        "gap-2 bg-black text-white",
      )}
    >
      <span>Esplora le Risorse</span>
      <Icon name="lucide:arrow-right" class="size-4" />
    </a>
    <a
      href={siteConfig.links.github}
      target="_blank"
      rel="noreferrer"
      class={cn(
        buttonVariants({
          variant: "outline",
          size: "lg",
          rounded: "full",
        }),
        "px-5",
      )}
    >
      <p>
        <span class="hidden sm:inline-block text-black dark:text-white">Vai Alla Knowledge Base</span>
      </p>
      <Icon name="lucide:arrow-right" class="ml-2 size-4" />
    </a>
  </div>
</section>
