---
import ProjectHeader from "@/components/project-header.astro";
import ProjectCard from "@/components/cards/project-card-new.astro";
import MainLayout from "@/layouts/main-layout.astro";
import { getProjects } from "@/lib/fetchers";

const projects = await getProjects();
---

<MainLayout title="Static Blog">
  <section class="container py-10">
    <ProjectHeader title="Progetti" />

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6">
      {projects.map((project) => (
        <div data-aos="fade-up" data-aos-duration="800">
          <ProjectCard {...project} />
        </div>
      ))}
    </div>
  </section>
</MainLayout>

<script>
  import AOS from 'aos';
  import 'aos/dist/aos.css';
  
  AOS.init({
    once: true,
    offset: 50,
    duration: 800,
    easing: 'ease-out',
  });
</script>