---
import Footer from "@/components/layout/footer.astro";
import Header from "@/components/layout/header.astro";
import BaseLayout from "./base-layout.astro";
import { MainNavigationMenu } from "@/components/main-navigation-menu";
import { navMenuConfig } from "@/config/nav-menu";
import { SheetMobileNav } from "@/components/layout/sheet-mobile-nav";
import Search from "@/components/ui/search.astro";

type Props = {
  title: string;
  description?: string;
  mainClass?: string;
};

const { title, description, mainClass } = Astro.props;

---

<BaseLayout title={title} description={description} >
  <Header className="border-b">
    <MainNavigationMenu slot="left-header" client:load />
    <SheetMobileNav
      mainNavItems={[...navMenuConfig.links]}
      sidebarNavItems={[
        ...navMenuConfig.redNav,
        ...navMenuConfig.toolNav,
        ...navMenuConfig.courseNav,
      ]}
      slot="mobile-nav-header"
      client:load
    />

    <div class="flex items-center gap-x-4" slot="right-header">
      <Search />
      <!-- Button with arrow icon -->
      <a href="/docs" class="flex items-center gap-x-2 px-3 py-1.5 bg-blue-500 text-white rounded hover:bg-blue-800">
        <span>Knowledge Base</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10.293 15.707a1 1 0 010-1.414L13.586 11H3a1 1 0 110-2h10.586l-3.293-3.293a1 1 0 111.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd" />
        </svg>
      </a>
        </div>
  </Header> 

  <main class={mainClass}>
    <slot />
  </main>

  <Footer />
</BaseLayout>
